<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentations</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/home.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5674922097566820"
     crossorigin="anonymous"></script>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Offcanvas navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start round" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="name-api">
                <i class="fab fa-canadian-maple-leaf logo menu-icon"></i><span class="danger">CHU</span>CHIHA
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item menu-item">
                  <a class="nav-link active menu-title" aria-current="page" href="#">
                    <i class="fas fa-home menu-icon"></i><span class="menu-title">Home</span>
                  </a>
                </li>
                <li class="nav-item menu-item">
                  <a class="nav-link active" aria-current="page" href="#">
                    <i class="fas fa-th-large menu-icon"></i><span class="menu-title">Dashboard</span>
                  </a>
                </li>

                <!--Options api-->
                <li class="nav-item dropdown menu-item">
                  <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fab fa-youtube menu-icon"></i><span class="menu-title">YouTube</span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                    <li><a class="dropdown-item" href="#"><i class="far fa-file-audio menu-icon"></i><span class="menu-subtitle">Mp3 YouTube</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-music menu-icon"></i><span class="menu-subtitle">Music YouTube</span></a></li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-video menu-icon"></i><span class="menu-subtitle">Video YouTube</span></a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="fas fa-question menu-icon danger"></i><span class="menu-subtitle"></span>How to use?</a></li>
                  </ul>
                </li>

                <li class="nav-item dropdown menu-item">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-dragon menu-icon"></i><span class="menu-title">Anime</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                      <li><a class="dropdown-item" href="#"><i class="fas fa-search menu-icon"></i><span class="menu-subtitle">Anime search</span></a></li>
                      <li><a class="dropdown-item" href="#"><i class="fas fa-image menu-icon"></i><span class="menu-subtitle">Anime images search</span></a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#"><i class="fas fa-question menu-icon danger"></i><span class="menu-subtitle"></span>How to use?</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown menu-item">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-grin-squint-tears menu-icon"></i><span class="menu-title">Memes</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  
                  <li class="nav-item dropdown menu-item">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fas fa-link menu-icon"></i><span class="menu-title">Link Short</span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item menu-item">
                    <a class="nav-link active menu-title" aria-current="page" href="#">
                      <i class="fas fa-key menu-icon"></i><span class="menu-title">Get api key</span>
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- CONTENT OF WEB -->

      </nav>
      
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</body>
</html>
